body {
    background-color:#0d1b2a;
} h1 {
    color: #e0e1dd;
    font-weight: bold;
} h2 {
    color: #e0e1dd;
} h3 {
    color: #e0e1dd;
    font-style: italic;
} p {
    color: #e0e1dd;
} #p {
    color: #e0e1dd;
    font-variant: small-caps;
} ul {
    color: #e0e1dd;
} hr {
    color: #e0e1dd;
} img {
    border-radius: 10;
} table {
    margin-left: auto;
    margin-right: auto;
    background-color: #e0e1dd;
    color: #e0e1dd;
    border-color: #e0e1dd
} th {
    background-color: #0d1b2a;
    width: 5vw;
    text-align: center;
} td {
    background-color: #0d1b2a;
    text-align: center;
} button {
    font-size: 26px;
    background-color: #ef233c;
    border-radius: 15px;
    border: 3px solid #8e2b3b;
    color: #e0e1dd;
    width: 200px;
} .a {
    text-decoration: none;
    color: #ef233c;
} mark {
    background-color: #ef233c;
} input {
    background-color: #e0e1dd;
    border-radius: 7px;
    color: #0d1b2a;
    font-size: large;
    border-width: 0px;
    text-align: center;
    width: 250px;
} label { 
    color: #e0e1dd;
    margin-right: 5px;
    font-size: large;
} .formbuttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
} #submit {
    width: 100px;
    background-color: #ef233c;
    color: #e0e1dd;
    border: 3px solid #8e2b3b;
} #reset {
    width: 100px;
    background-color: #ef233c;
    color: #e0e1dd;
    border: 3px solid #8e2b3b;
} ::placeholder {
    color: black;
    opacity: 0.7;
} input[type=radio] {
    width: auto;
} input[type=checkbox] {
    width: auto;
} textarea {
    width: 99%;
    height: 50px;
} input[type=file] {
    width: auto;
} .radiobutton {
    border: 3px solid #415A77;
    border-radius: 6px;
    width: 76px;
    text-align: center;
} #radiobuttons {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 255px;
    gap: 10px;
} header {
    background-color: #415A77;
    border-radius: 10px;
    text-align: center;
    border: 3px solid #778DA9;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 17px;
} #p1 {
    font: bold small "Courier New", Courier, monospace;
} #p2 {
    font: italic bolder 1em 'Lucida Sans', 'Lucida Sans Regular';
} #p3 {
    font: oblique small-caps 1em Impact, 'Arial Narrow Bold', sans-serif;
} #p4 {
    font: italic bolder 1em/40px "Fira Sans", serif;
} #p5 {
    font: small-caps large/normal "Jersey 15";
} #p6 {
    font: 900 xx-small/normal Tahoma;
} #h11 {
    margin-left: 15%;
    margin-right: 15%;
    border-width: 5px;
    text-align: center;
    border-left: #415A77 dashed;
    border-top: #8e2b3b dotted;
    border-right: #ef233c double;
    border-bottom: #e0e1dd solid;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 15px;
} #p7 {
    border: 5px #415A77 ridge;
    border-radius: 15px;
    text-align: center;
    padding: 8px 10%;
} #h12 {
    text-align: center;
    text-shadow: 3px 3px 2px #8e2b3b, -3px -3px 2px #415A77;
} #box1 {
    font-size: large;
    width: 7em;
    height: fit-content;
    background-color: #415A77;
    border-radius: 8px;
    box-shadow: 8px 8px 7px #778DA9 ;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 3em 0px;
} .box {
    margin: 0px;
    color: #e0e1dd;
    background-color: #415A77;
    border: 3px solid #778DA9;
    border-radius: 8px;
    width: 100px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
} #box2 {
    margin: auto;
    margin-bottom: 50px;
} #box3 {
    margin-left: calc(25% - 50px);
    margin-right: calc(75% - 50px);
} #h13 {
    text-align: right;
    margin: 15px 60px 20px 0px;
} #h14 {
    text-align: center;
} #flowbox {
    border: 3px solid #415A77;
    border-radius: 8px;
    display: flow-root;
    padding: 0px 8px;
} #img1 {
    float: left;
    margin-right: 10px;
} .Overflowtypes {
    text-align: right;
} .overflowboxes {
    color: #e0e1dd;
    border: 3px solid #415A77;
    border-radius: 10px;
    width: 250px;
    height: calc(250px / 4);
    padding: 0px 5px;
} #visible {
    overflow: visible;
} #hidden {
    overflow: hidden;
} #clip {
    overflow: clip;
    overflow-clip-margin: 15px;
} #scroll {
    overflow: scroll;
} #auto {
    overflow: auto;
} #h15 {
    text-align: center;
} .displayboxes {
    border: 3px solid #415A77;
    border-radius: 5px;
    background-color: #778DA9;
    color: #ef233c;
    width: 100px;
    aspect-ratio: 1;
    margin: 5px;
    padding: 8px;
} #block {
    display: block;
} #inline {
    display: inline;
} #inline-block {
    display: inline-block;
}